.footer {
  overflow: hidden;
}

.footer__contacts-container {
  @media (min-width: $desktop-width) {
    width: 600px;
    padding: 0;
  }
}

.footer__wrapper {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 165px;
    padding: 103px 0 95px;
  }
}

.footer__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.footer__top p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 480px;
    font-size: 16px;
    line-height: 24px;

    br {
      display: none;
    }
  }
}

.footer__map {
  margin: 0 -15px;
  width: $mobile-width;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background-image: url("../../img/sprite/pin-filled.svg");
    background-size: 19px 25px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 29px 38px;
    }

    @media (min-width: $tablet-width) {
      background-size: 33px 44px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 -45px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    flex-shrink: 0;
  }
}

.footer__map-img {
  display: block;
}

.footer__box {
  position: relative;
  padding: 22px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: $main-text-color-03;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    padding: 33px 0 20px;
    display: grid;
    grid-template-columns: 142px 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 34px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 0 32px;
    grid-template-columns: 200px 1fr 200px;
    gap: 22px 100px;
  }
}

.footer__logo {
  width: auto;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
  }
}

.footer__nav {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: dense;
  gap: 9px 50px;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    grid-column: 2 / 3;
    gap: 20px;
    max-width: 600px;
    flex-wrap: wrap;
  }
}

.footer__nav-item {
  &:nth-child(-n + 3) {
    grid-column: 1;
  }

  &:nth-child(n + 4):nth-child(-n + 6) {
    grid-column: 2;
  }
}

.footer__nav-link {
  @include link-reset;

  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.footer__phone {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }
}
