.form {
  position: relative;

  background-position: center;
  background-size: cover;
  object-fit: cover;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  background-image:
    image-set(
      url("../../img/form-bg.webp") 1x type("image/webp"),
      url("../../img/form-bg@2x.webp") 2x type("image/webp"),
      url("../../img/form-bg.png") 1x type("image/png"),
      url("../../img/form-bg@2x.png") 2x type("image/png")
    );
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
  min-height: 638px;

  @media (min-width: $tablet-width) {
    min-height: 680px;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    min-height: 760px;
    gap: 40px;
  }
}

.form__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.form__top h2 {
  margin: 0;
  color: $white-color;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

.form__top p {
  margin: 0;
  color: $white-color;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 16px;
    line-height: 24px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 258px;

  @media (min-width: $tablet-width) {
    width: 360px;
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__input-wrapper {
  position: relative;
}

.form__label {
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.5;
  color: $main-text-color;

  top: 17px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 30px;
  }

  &--disabled {
    color: transparent;
    top: -10px;
  }
}

.form__input {
  padding: 17px 15px;
  border-radius: 2px;
  border: none;
  width: 100%;
  height: 50px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  background-color: $white-color;
  outline: 1px solid $accent-color-02;
  outline-offset: -1px;
  transition: outline-color 0.3s;

  &::placeholder {
    color: transparent;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }

  &:focus::placeholder {
    color: rgba($main-text-color, 0.5);
  }

  &:hover {
    outline-color: $accent-color;
  }

  &:focus {
    outline-color: $main-text-color;
  }

  &:disabled {
    outline-color: $grey-color;

    .form__label {
      color: $grey-color;
    }
  }

  &--error {
    outline-color: $error-color;
  }

  @media (min-width: $tablet-width) {
    height: 56px;
    padding: 20px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.form__button {
  padding: 21px 19px;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }
}
