.gallery {
  padding-bottom: 3px;
}

.gallery__container {
  position: relative;
}

.gallery__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.gallery p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 31px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    max-width: 420px;
    margin-bottom: 21px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 600px;
    margin-bottom: 46px;

    br {
      display: none;
    }
  }
}

.gallery__slider-buttons {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 106px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__slider {
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.gallery__slider-wrapper {
  @include list-reset;
}

.gallery__slider-wrapper .gallery__slide {
  width: 158px;
  height: 266px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    height: 418px;
    width: 253px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__slider-wrapper .gallery__slide--double {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  width: 157px;

  @media (min-width: $tablet-width) {
    gap: 7px;
  }

  @media (min-width: $desktop-width) {
    gap: 7px;
  }
}

.gallery__slide-image {
  display: block;
  max-width: fit-content;
}
