.header {
  position: relative;
  background-color: $accent-color;
  padding: 15px 0 13px;
  z-index: 2;
  max-width: $mobile-width;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 0;
    max-width: $desktop-width;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-width: 410px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0;
  }
}
