.logo {
  @include link-reset;

  height: 42px;
  outline: 1px solid transparent;
  outline-offset: 5px;
  transition: opacity 0.3s, outline-color 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline-color: $white;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
  }
}

.logo--dark {
  &:focus {
    outline-color: $main-text;
  }
}
