.phone {
  @include link-reset;

  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: $white;
  padding-top: 2px;
  align-self: flex-end;
  transition: color 0.3s;

  &:hover {
    color: $white-05;
  }

  &:focus {
    color: $main-text;
    outline: none;
  }

  &:active {
    color: $active-link;
  }

  &--dark {
    color: $main-text;

    &:hover {
      color: $main-text-03;
    }

    &:focus {
      color: $accent;
      outline: none;
    }

    &:active {
      color: $active-link;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    align-self: center;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.phone--disabled {
  color: $grey;
  cursor: default;
  pointer-events: none;

  &:hover {
    color: $grey;
  }

  &:focus {
    color: $grey;
  }

  &:active {
    color: $grey;
  }
}
