.slider-nav-buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.slider-nav-button {
  @include button-reset;

  width: 37px;
  height: 35px;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color 0.3s, background-color 0.3s;

  &:hover {
    background-color: $white-color;
    outline-color: $active-link-color;

    &::before {
      background-color: $active-link-color;
    }
  }

  &:focus {
    background-color: $white-color;
    outline: none;

    &::before {
      background-color: $active-link-color;
    }
  }

  &:active {
    background-color: $active-link-color;

    &::before {
      background-color: $active-link-color;
    }
  }

  &:disabled {
    background-color: $grey-color;
    outline: none;
    cursor: default;

    &::before {
      background-color: $white-color;
    }
  }

  &::before {
    content: "";
    width: 14px;
    height: 9px;
    background-color: $white-color;
    mask-image: url("../../img/sprite/arrow-icon.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    transition: background-color 0.3s;
  }

  &--next::before {
    transform: rotate(180deg);
  }
}
