.social-list {
  @include list-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    gap: 18px;
  }

  @media (min-width: $desktop-width) {
    gap: 16px;
  }
}

.social-list__item-link {
  width: 30px;
  height: 30px;
}

.social-link {
  border: 1px solid $main-text-03;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  transition: border-color 0.3s, background-color 0.3s;

  &:hover {
    border-color: $main-text;
  }

  &:focus {
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: $accent;
    border-color: transparent;

    .social-link-icon {
      fill: $white;
    }
  }
}

.social-link--disabled {
  cursor: default;
  pointer-events: none;
  border-color: $grey;

  .social-link-icon {
    fill: $grey;
  }

  &:hover {
    border-color: $grey;
  }

  &:focus {
    border-color: $grey;
  }

  &:active {
    border-color: $grey;
    background-color: $white;

    .social-link-icon {
      fill: $grey;
    }
  }
}

.social-link-icon {
  fill: $main-text;
}
