button {
}

.primary-button {
  background-color: $primary-button-bg;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: #1c3374;
    border: 1px solid #1c3374;
  }

  &:focus {
    background-color: $secondary-color;
    color: #1c3374;
  }

  &:active {
    background-color: #1c3374;
  }

  &:disabled {
    background-color: #999999;
  }
}

// .secondary-button {
//   background-color: $primary-button-bg;
//   color: $secondary-color;

//   &:hover {
//   }

//   &:focus {
//   }

//   &:active {
//   }

//   &:disabled {
//   }
// }
